<footer class="footer">
  <div class="container">
    <app-grid [lg]="4" [md]="4" [sm]="2" [xs]="1" [gap]="10">
      <div>
        <div class="footer__title">Services</div>
        <div class="footer__content">
          <p>Lorem ipsum <strong>0123456789</strong></p>
          <p>Lorem ipsum <strong>0123456789</strong></p>
          <p>Lorem ipsum <strong>0123456789</strong></p>
          <p>Lorem ipsum <strong>0123456789</strong></p>
          <p>Lorem ipsum <strong>0123456789</strong></p>
        </div>
      </div>
      <div>
        <div class="footer__title">Links</div>
        <div class="footer__content">
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
        </div>
      </div>
      <div>
        <div class="footer__title">Products</div>
        <div class="footer__content">
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
        </div>
      </div>
      <div class="footer__about">
        <p>
          <a routerLink="/">
            <img src="assets/images/logo0.png" class="footer__logo" alt="" />
          </a>
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eius
          veritatis voluptatem nemo dolorum laborum sed voluptatibus nisi
          incidunt maxime consequatur debitis maiores mollitia ad autem
          temporibus corporis, nostrum commodi?
        </p>
      </div>
    </app-grid>
  </div>
</footer>
